.content { float:left; width:92%; margin:0 4%; padding: 20px 0; }

/*HEADER*/
.main_header          { background:#ffffff; border-bottom:1px #f4f4f4 solid; z-index:1; padding: 0.5em 0em; }
.main_header .content { float:left; padding:0px 0; }

.fixed            { display:block; position:fixed; z-index:9;  }
.main_header_logo { text-align:center; margin:auto; float:none; width:138px; }
.main_header_logo img { height:69px; }

/*Seu Código*/
.section-seu-codigo          { padding:30px 0px; background-color:#ffffff; }
.section-seu-codigo .content { float:left; padding:1em 0; }
.section_title               { width: 100%; float:left; margin-bottom:1em; font-size:1.3em; font-weight: 300; text-align: center; border-bottom: 1px #eceaea solid; padding-bottom: 1em; }

.box-artigo   { width:100%; float:left; background:#fff; }

/*Profile Card*/
.card-green   { 

	width:100%; 
	max-height:400px; 
	height:100%; 
	margin-bottom:30px; 
	float:left; 
	position:relative; 
	overflow:hidden; 
	border-radius:6px; 
	transition: .5s; 
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);

}

.card-green .img-box { 

	position:relative; 
	left:0; 
	bottom:0; 
	width:100%; 
	height:100%; 
	transition: .5s; 

}

.card-green .img-box img  { 

	width:100%; 
	transition:.5s; 
	-webkit-transform:scale(1.1); 
	transform:scale(1.1); 

}

.card-green:hover .img-box img { 

	-webkit-transform:scale(1); 
	transform:scale(1); 

}

.card-green .desc       { 

	position:absolute; 
	width:100%; 
	height:auto; 
	bottom:0; 
	transition:.5s; 
	padding:0px; 
	text-align:center; 
	z-index:1; 
}

.card-green .desc h4 { 

	width:100%; 
	font-size:1.2em; 
	color:#fff; 
	font-family:'open_sansbold';
	margin-bottom:5px;   

}

.card-green .desc p { 

	width:100%; 
	font-size:0.8em; 
	color:#fff; 
	font-family:'open_sansregular';

}

.card-green .desc span { 

	letter-spacing:8px; 	
	font-family:'open_sansregular'; 

}

.card-green .desc ul { 

	display:block; 
	margin:20px 0 0; 
	padding:0; 
	align-items:center; 
	justify-content:center; 

}

.card-green .desc ul li { 

	list-style:none; 
}

.card-green .desc ul li { 

}

.card-green .desc ul li a { 

    color: #fff;
    background-color: #0000002e;
	display: block;
	width: 33.3%;
	height: 60px;
	line-height: 65px;
	font-size: 1.3em;
	text-decoration: none;
	transition: .6s;
	float: left;
 

}

.card-green .desc ul li a:hover {

	background-color: #ffffff85;
	color: #3ea21a;

}

.card-green .desc.degradeGreen { 

	background: linear-gradient(0deg, rgba(53, 194, 24, 0.9), transparent);

}

/*768PX BREAKPOINT*/
@media (min-width:48em){

.card-green { width:31.33%; max-height:430px; margin-right:3%; }
.card-green:nth-of-type(3n+0)  { margin-right:0; }

} 

/*Profile Card*/

/*FOOTER*/
.main_footer          { background-color:#353535; color:#fff; font-size:0.875em; }
.main_footer .content { padding:3em 0em; }

.main_footer_copy       { background-color:#262626; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p     { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }


/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em){

.boxBannerTopo { padding:1em 0; }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em){


} 

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em){


} 

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em){

 .section-seu-codigo          { padding:20px 0px; }
 .section-seu-codigo .content { width:80%; padding:1em 0; margin:0 10%; }

.btn-download { width:35%; }

}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em){

 
}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em){

 .content  { width:80%; margin:0 10%; }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em){


}
/*Fecha o Responsivo*/
